@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root {
    --main-bg-color: #E9E9E9;
    --primary-text-color: #424242;
    --accent-color: #FF3F3C;
    --regular-text-size: 1.5em;
}

body {
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 40px;
    margin-bottom: 100px;
}

header h1 {
    margin: 0;
    font-weight: normal;
}

main {
    background: url('/images/polaroid.png') no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
}

.title {
    text-align: center;
    min-height: 800px;
}

.title h2 {
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    text-align: center;
    font-size: 3em;
}

section {
    padding: 0 100px;
}

p {
    font-size: var(--regular-text-size);
}

.details ul {
    padding-inline-start: 0;
}

.details ul li {
    list-style-type: none;
    margin: 10px 0;
    padding: 5px 0 5px 40px;
    font-size: var(--regular-text-size);
}

.details ul li.wifi {
    background: url('/images/wifi-solid.svg') no-repeat center left;
}

.details ul li.cloud {
    background: url('/images/cloud-arrow-up-solid.svg') no-repeat center left;
}

.details ul li.qr {
    background: url('/images/qrcode-solid.svg') no-repeat center left;
}

.details ul li.photos {
    background: url('/images/photo-film-solid.svg') no-repeat center left;
}

.CTA h3 {
    margin: 1.5em 0 0.5em 0;
}

.form {
    margin: 0 auto 40px auto;
    padding: 30px;
    background-image: linear-gradient(#E2E2E2, #D6D7D6);
    border-radius: 30px;
}

form {
    width: 100%;
    display: flex;
    align-items: stretch;
}

input {
    height: 60px;
    margin: 0 5px;
}

input[type="text"] {
    flex: 7;
    border-width: 0;
    padding: 0 0 0 20px;
    background-color: #ECECEC;
    color: var(--primary-text-color);
    font-size: 1em;
}

input[type="button"] {
    flex: 2;
    background-color: var(--accent-color);
    color: #FFFFFF;
    font-weight: 900;
    text-transform: uppercase;
    border-width: 0;
    font-size: 1em;
}